<!-- templates/for_loop_conditionals.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loops and Conditionals</title>
</head>
<body>
  <h1>Loops in Jinja2</h1>
  <h2>For loop and conditional statements</h2>

  <!-- looping over a dictionary-->
  {% for user, os in user_os.items() %}
    {% if os == "Windows" %}
      <p>{{ user }} is a Windows user.</p>
    {% elif os == "MacOS" %}
      <p>{{ user }} is a Mac user.</p>
    {% elif os == "Linux" %}
    <p>{{ user }} is a Linux user.</p>
    {% else %}
      <p>{{ user }} doesn't use a computer.</p>
    {% endif %}
  {% endfor %}
</body>
</html>